###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
/public/photo/biography/
/public/photo/country/
/public/photo/language/
/public/photo/page/
/public/photo/proverb/
/public/photo/store/
/public/photo/tag/
/public/photo/user/
/public/photo/version/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
